<h1>Angular 19 tutorial</h1>
<h1><a routerLinkActive="active" routerLink="form">Forms</a></h1>
<h2>pass data from child(login) to parent</h2>
@for (d of data; track data) {
<div>
  {{d}}
</div>
}
<app-login (getData)="handleData($event)"></app-login>
<!-- <app-user user="swe"></app-user> -->
<h1>Reuse component</h1>
@for (user of users; track user) {
<div>
  {{user}}
  <app-user [user]="user"></app-user>
</div>
}
<h1>Counter App</h1>
<div style="text-align: center;">
  <h3 class="count">{{count}}</h3>
  <div>
    <button (click)="handleCounter('minus')" class="btn bg-red">Decrement</button>
    <button (click)="handleCounter('reset')" class="btn bg-blue">Reset</button>
    <button (click)="handleCounter('plus')" class="btn bg-green">Increment</button>
  </div>
</div>
<h1>Get and Set Input field value</h1>
<input (input)="getUsername($event)" type="text" #userName placeholder="Enter user name">
<br>
<button (click)="setUsername()">Set username</button>
<button (click)="getUserNameWTemplate(userName.value)">Get username</button>
<h2>{{this.username}}</h2>
<h1>If-else</h1>
<button (click)="toggle()">Toggle</button>
@if(display){
<div style="background-color: green;width: 50px; height: 50px;">
</div>
}
@else {
<div style="background-color: orange;width: 50px; height: 50px;">
</div>
}
<h1>ngif</h1>
<h2 *ngIf="display">Display is true</h2>
<h2 *ngIf="!display">Display is false</h2>
<h1>Switch</h1>
<button (click)="handleColor('red')">Handle color</button>
@switch(color) {
@case('red'){
<h1 style="background-color: red;">Red color</h1>
}
@case('blue'){
<h1 style="background-color: blue;">Blue color</h1>
}
@default{
<h1 style="background-color: goldenrod;">Gold color</h1>
}
}
<h1>ngswitch</h1>
<div [ngSwitch]="color">
  <h1 *ngSwitchCase="'blue'" style="background-color: blue;">Blue color</h1>
  <h1 *ngSwitchCase="'red'" style="background-color: red;">Red color</h1>
  <h1 *ngSwitchDefault>No color</h1>
</div>
<h1>For loop</h1>
@for (user of users; track user) {
<h2>{{user}}</h2>
}
@for (student of students; track student.name; let id=$index) {
<h2>
  <span>{{id}}</span>
  <span>{{student.name}}</span>
  <span>{{student.age}}</span>
  <button (click)="getName(student.name)">Get Name</button>
</h2>
}
<h1>ngfor</h1>
<ul>
  <li *ngFor="let s of students">{{s.name}}</li>
</ul>
<h1>Event</h1>
<button (click)="handleEvent($event)">Click on button</button>
<div (mouseenter)="handleEvent($event)" style="background-color: beige; height: 20px;width: 20px;">
</div>
<div (mouseleave)="handleEvent($event)" style="background-color: darkkhaki; height: 20px;width: 20px;">
</div>
<input (blur)="handleEvent($event)" (focus)="handleEvent($event)" (input)="handleEvent($event)" type="text" name="user">

<h1>Signal</h1>
<h3>{{a1}}</h3>
<h3>{{a2()}}</h3>
<button (click)="updateValue()">Update value</button>

<h1>Types with Signal</h1>
<button (click)="updateType()">Update Type and Value</button>

<h1>Computed Signal</h1>
<h3>{{a5()}}</h3>
<button (click)="updateComp()">Update Computed Value</button>

<h1>Effect</h1>
<h3>{{effectname()}}</h3>
<button (click)="effectname.set('Swe')">Update Effect Value</button>

<h1>For loop contextual variables - default variables present in for loop</h1>
@for(user of users; track user){
@if($first || $last){
<h3 style="background-color: bisque;">{{$index+1}} {{user}}</h3>
} @else if($even) {
<h3 style="background-color: darkolivegreen;">{{$index+1}} {{user}}</h3>
} @else if($odd) {
<h3 style="background-color: skyblue;">{{$index+1}} {{user}}</h3>
} @else {
<h3>{{$index+1}} {{user}}</h3>
}
}@empty() { <h4>No records found</h4>}

<h1>Two way binding</h1>
<input type="text" [(ngModel)]="twdata" placeholder="Enter name">
<h3>{{twdata}}</h3>
<hr>
<h1>TO-DO LIST</h1>
<input type="text" [(ngModel)]="task" placeholder="Enter task name">
<button (click)="addTask()">Add task</button>

@for(task of taskList;track task.id){
<ul class="task-list">
  <li>{{task.id}}</li>
  <li>{{task.name}}</li>
  <li><button (click)="deleteTask(task.id)">Delete</button></li>
</ul>
}

<h1 [style.color]="dynamicColor" [style.fontSize]="dynamicFont">Dynamic styling</h1>

<h1>Basic routing</h1>
<ul>
  <li>
    <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/">Home</a>
  </li>
  <li>
    <a routerLinkActive="active" routerLink="login">Login</a>
  </li>
  <li>
    <a routerLinkActive="active" routerLink="about">About</a>
  </li>
</ul>
<router-outlet></router-outlet>

<h1>Pipes</h1>
<p>{{lc | uppercase}}</p>
<p>{{lc | titlecase}}</p>
<p>{{uc | lowercase}}</p>
<p>{{today | date}}</p>
<p>{{today | date:'fullDate'}}</p>
<p>{{today | date:'hh:mm:ss'}}</p>
<p>{{amount | currency:'INR'}}</p>
<p>{{today | date:'fullDate'| uppercase}}</p>
<h1>Custom Pipes</h1>
<p>USD to INR {{amount | currencyConvertor}}</p>
<p>YUAN to INR {{amount | currencyConvertor:12}}</p>
<p>EUR to INR {{amount | currencyConvertor:98}}</p>
<h1>API Call Service</h1>
<form #userForm="ngForm" (ngSubmit)="addUser(userForm.value)">
  <input type="text" placeholder="Enter name" name="name" [ngModel]="selectedUser?.name">
  <br>
  <input type="text" placeholder="Enter age" name="age" [ngModel]="selectedUser?.age">
  <br>
  <input type="text" placeholder="Enter id" name="id" [ngModel]="selectedUser?.id">
  <br>
  @if(!selectedUser){
  <button>Add user</button>
  } @else {
  <button>Update user</button>
  }
</form>
@for(user of userData;track user.id){
<p>{{user.name}} {{user.age}} {{user.id}}</p>
<button (click)="deleteUser(user.id)">Delete user</button>
<button (click)="getSelectedUser(user.id)">Update user</button>
}
<h1>Service</h1>
@for(item of productData;track item){
<p>{{item.name}} {{item.category}} {{item.price}}</p>
}
<div>
  @for(list of listData;track list){
  <img src="{{list.thumbnail}}" alt="product image">
  <p>{{list.title}} {{list.rating}} {{list.price}}</p>
  }
</div>