.btn{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #000;
    margin: 10px;
    color: #fff;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid #fff;
}
.bg-red{
    background-color: red;
}
.bg-blue{
    background-color: blue;
}
.bg-green{
    background-color: green;
}
.count{
    font-size: 30px;
    margin: auto;
    margin-bottom: 20px;
    width: 100px;
    background-color: gray;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}